body {
	padding: 0px;
	font-size: 12px;
	color: white;
	font-family: sans-serif;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5000;
	background: url('../img/bg.jpg');
}

#mainContainer {
	margin-top: 90px;
	margin-bottom: 60px;
}

#mainViewContainer {
	color: #555;
	background: #fff;
	border-radius: 3px;
	padding: 10px 20px 20px 20px;
	width: 600px;
	min-height: 350px;
	margin: 0px auto;
	border: 6px solid rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#registerContainer {
	color: #555;
	background: #fff;
	border-radius: 3px;
	padding: 10px 20px 20px 20px;
	width: 430px;
	min-height: 350px;
	margin: 0px auto;
	border: 6px solid rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */	
}

.cancelButton {
	position: relative;
	top: 15px;
	left: 10px;
}

/* HEADER */

#headerDiv {
	z-index: 999;
	width: 100%;
	height: 30px;
	position: fixed;  
	top: 0;
	left: 0;
	background: #588A3D;
	padding: 10px;
	overflow: hidden;
	border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#logo {
	float: left;
	margin-right: 30px;
	margin-left: 5px;
	margin-top: 1px;
	font-family: Georgia;
	font-size: 19px;
	font-weight: bold;
	color: white;
}

.logo {
	color: white;
	text-decoration: none;
}

li.userList {
	list-style: none;
	position: relative;
	left: -35px;
}

ul.menu{
  margin: 0px;
  padding: 2px;
  list-style: none;
}

ul.menu li.menu {
  margin: 0 10px 0 0;
  padding: 0;
  display: block;
  float: left;
  width: 100px;
  height: 20px;
}

ul.menu li.menu a{
  display:block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  float: left;
  text-align: center;
  padding-top: 2px;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
}

ul.menu li.menu a:hover{
  color: #fff;
  text-decoration: underline;
}​

ul.notSorted, li.notSorted, li.userDoneSorting, li.listIsSorted	 {
  color: white;
  margin-top: 5px;
  padding: 10px 10px 10px 15px;
  border-radius: 3px;
  width: 410px;
  height: 25px;
  display: block;
  text-decoration: none;
  font-size: 12px;
  list-style: none;
  border-radius: 2px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

li.notSorted {
	background: #934152;
}

li.userDoneSorting {
	background: #bf7026;
}

li.listIsSorted {
	background: #486d33;
}

li.notSorted:hover {
	color: white;
	background: #6E404A;
	cursor: move;
	  border: 3px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

li.notSorted {
	height: 30px;
	margin-left: -35px;
}

li.userDoneSorting, li.listIsSorted {
	height: 30px;
	margin-left: -35px;
}

ul.listIsSorted {

}

/* GENERAL */

.clear {
	clear:both;
}

/* FORMS */

.listObjectShowText {
	margin-right: 30px;
}

.listObjectShow {
	margin-top: 5px;
	padding: 10px 10px 10px 15px;
	border-radius: 3px;
	background: #934152;
	width: 400px;
	height: 25px;
	border: 3px solid rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.listObjectRemove {
	float: right;
	position: relative;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}

form, fieldset {
	border: 0px;
	width: 400px;
}

#listOfListObjects{
	color: white;
	margin-top: 10px;
}

#listObjectDesc {
	width: 225px;
}

.listObjectShowDesc {
	font-style: italic;
	font-size: 10px;
}

#submit {
	margin-left: 12px;
}

input[type=text], input[type=password] {
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    margin: 5px;
    overflow: auto;
    padding: 2px 2px 2px 7px;
    width: 200px;
    font-family: tahoma;
    font-size: 10px;
    border: 1px solid #aaa;
}

input.active {
	font-family: verdana;
	font-size: 10px;
	color: #a1a1a1;
	font-style: italic;
}

.listTitle {
	margin-top: 20px;
	margin-bottom: 5px;
}

h3.assigned, h3.usersLists, h3.mainView {
	margin-top: 25px;
}

h3.listInfo {
	margin-top: 100px;
}

h2, h3 {
	color: #934152;
}

.list {
	text-decoration: none;
	text-transform:capitalize;
	color: #9b2028;
}

.list:hover {
	font-weight: bold;
}

.listUser {
	text-decoration: none;
	text-transform:capitalize;
	color: #9b2028;
}

.userName {
 clear: both;
 float: left;
 width: 30%;
}

.userStatus {
 float: left;
 width: 55%;
}

#newOrder {
	background: #777;
	position: relative;
	top: 20px;
	cursor: pointer;
	padding: 5px 10px;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	display: none;
}

#newListContainer {
	color: #555;
	background: #fff;
	border-radius: 3px;
	padding: 0px 10px 10px 10px;
	width: 450px;
	margin: 0px auto;
	border: 6px solid rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#listContainer, #listContainer2 {
	color: #2E4F45;
	background: #fff;
	position: relative;
	top: -20px;
	border-radius: 3px;
	padding: 10px 20px 20px 20px;
	width: 450px;
	margin: 0px auto;
	border: 6px solid rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#listContainer {
	min-height: 495px;
}

.listElemImg {
	float: right;
	margin-top: -6px;
	margin-right: 5px;
	width: 15px;
}

#listUsers {
	margin-top: 20px;	
}

#cancelList {
	position: relative;
	top: 10px;
	left: 415px;
}

#newListObjectsDiv {
}

#loginMenu {
	width: 40px;
	cursor: pointer;
	position: absolute;
	top: 6px;
	right: 60px;
	z-index: 1000;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 16px;
}

#loginArrow {
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: -22px;
}

#notLoggedIn {
	position: absolute;
	top: 100px;
	right: 300px;
	font-size: 14px;
}

.button, .regButton, .loginButton, {
    padding: 5px 10px;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.errorMessage {
	position: relative;
	top: 5px;
	left: 10px;
	color: red;

	  column-width: 20px; /* not well-implemented yet. */
	  -moz-column-width: 20px;
	  -webkit-column-width: 20px;

	  column-gap: 20px;
	  -moz-column-gap: 20px;
	  -webkit-column-gap: 20px;

	  column-count: 3;
	  -moz-column-count: 3;
	  -webkit-column-count: 3;

	  column-rule: 1px solid #000;
	  -moz-column-rule: 1px solid #000;
	  -webkit-column-rule: 1px solid #000;
}

.logoutButton {
    padding: 5px 10px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button:hover, .regButton:hover,  .loginButton:hover, .logoutButton:hover {
    text-decoration: none;
    cursor: pointer;
}
.button:active, .regButton:active, .loginButton:active, .logoutButton:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

#logoutButton {
	position: absolute;
	top: 8px;
	right: 40px;
	z-index: 2000;
}

#rememberMeDiv {
	margin-top: 13px;
}

#register {
	position: relative;
	top: 3px;
	left: 10px;
}

#registerButton {
	position: relative;
	top: 15px;
}

#registerSpan {
	position: relative;
	left: 12px;
}

#loginButton {
	position: absolute;
	left: 220px;
	bottom: 75px;
}

#loginForm {
	color: #555;
	height: 245px;
	z-index: 1100;
	position: absolute;
	top: -165px;
	right: 20px;
	width: 212px;
	margin-left: 200px;
	margin-top: 200px;
	background: #fff;
	padding: 0 5px 5px 5px;
	border-radius: 5px;
	border: 5px solid rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	display: none;
}

#loginHeader {
	position: relative;
	top: 15px;
	left: 10px;
	font-family: tahoma;
	font-size: 14px;
	color: #444;
	font-weight: bold;
}

#form1 {
	margin-top: 10px;
}

.loginLoginField {
	position: relative;
	right: 5px;
	width: 190px !important;
	height: 25px;
	color: #888;
	padding-left: 5px;
}

.loginPassField {
	position: relative;
	left: -5px;
	max-width: 190px;
	height: 25px;
}

#loginButtonDiv {
	position: relative;
	top: 110px;
	right: 75px;
}

#container {
	margin:0px auto;
	width: 200px;
}

#logout {

}

#loginText {
	font-family: helvetica;
	font-size: 30px;
	position: absolute;
	top: 250px;
	left: 600px;
}

#textSeparator {
	position: absolute;
	top: 20px;
}

/* MESSAGES */

.success {
	background: white;
	border-radius: 2px;
	position: absolute;
	top: 80px;
	right: 50px;
	color: green;
	padding: 8px;
	border: 4px solid rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.fail {
	background: white;
	border-radius: 2px;
	position: absolute;
	top: 80px;
	right: 50px;
	color: red;
	padding: 8px;
	border: 4px solid rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.failMessage {
	color: red;
	padding: 2px;
}

/* LIST CLASSES AND IDS!! */


#listElement {
	cursor: pointer;
	margin: 0px auto;
	width: 530px;
	margin-bottom: 5px;
	background: #888;
	padding: 5px;
}

#listElement:hover {
	border: 1px dashed black;
	background: #999;
}