body {
	font-family: verdana;
	font-size: 12px;
}

header {
	background: #888;
	height: 200px;
}

form, fieldset {
	border: 0px;
	width: 200px;
}

#loginForm {
	width: 280px;
	margin-left: 200px;
	margin-top: 200px;
	background: #474747;
}

.loginLoginField {
	width: 260px;
	height: 25px;
	color: #888;
	text-transform: uppercase;
	padding-left: 5px;
}

.loginPassField {
	width: 150px;
	height: 25px;
}

.loginLoginButton {
	float: right;
}

#container {
	margin:0px auto;
	width: 200px;
}

.success {
	background: green;
	padding: 2px;
}

.fail {
	background: red;
	padding: 2px;
}

.failMessage {
	color: red;
	padding: 2px;
}

/* LIST CLASSES AND IDS!! */

#listContainer {
	margin: 0px auto;
	background: lightgreen;
	width: 240px;
	padding: 1px 10px 10px 10px;
	border: 10px solid #333;
}

#listElement {
	cursor: pointer;
	margin: 0px auto;
	width: 200px;
	margin-bottom: 5px;
	background: #888;
	padding: 5px;
}

#listElement:hover {
	border: 1px dashed black;
	background: #999;
}